setuptools==41.0.0
configargparse==1.2.1
typeguard==2.7.0
humanfriendly
scipy==1.4.1
matplotlib
pillow
editdistance==0.5.2
ctc-segmentation==1.6.6
wandb
filelock
chainer==6.0.0
tensorboard==1.14
tensorboardX==1.8
librosa==0.8.0
sentencepiece
nltk==3.4.5
jamo==0.4.1
PyYAML==5.1.2
soundfile==0.10.2
h5py==2.10.0
kaldiio==2.17.0
pyworld==0.2.10
espnet_tts_frontend
nara_wpe==0.0.5
torch_complex
pytorch_wpe
ci_sdr
